[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RandPro"]
	path = RandPro
	url = https://github.com/cran/RandPro
	shallow = true
	registered = true
